.add-btn {
   color: #fe9e0c;
   margin-right: 2rem;
   border: none;
   background-color: transparent;
}

.add-btn-icon {
   transition: transform 0.3s ease !important;
}

.add-btn-icon:hover {
   transform: scale(1.15);
}

.add-recipe {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   border: 1px solid #000;
   background-color: #fff;
   border-radius: 15px;

   box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
   min-width: 30rem;
   z-index: 105;
}

.recipe-form-title {
   margin-top: -15px !important;
}

.close-btn {
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px;
}

.close-btn-parent {
   border: none;
   background: transparent;
}

.add-recipe-form {
   margin: 2rem;
}

.inputs * {
   border-radius: 5px;
}

.btn-hover {
   margin-top: 1rem;
}

.btn-hover:hover {
   transform: scale(1.05);
}

.btn-disabled {
   background-color: #ccc !important;
   border: #ccc !important;
}

.instructionsInput {
   max-height: 15rem;
   overflow-y: auto;
}

.title-input {
   border: 1px solid rgba(0, 0, 0, 0.2) !important;
   background-color: transparent !important;
   margin-bottom: 1rem !important;
}

.slider-input {
   margin-bottom: 1rem;
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: 10px 15px 0px 15px;
}

.multi-input div {
   margin-bottom: 1rem;
}
