.recipedisplay {
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   margin-top: 30px;
   border-spacing: 0 15px;
   border-collapse: separate;
   background-color: transparent;
   text-align: left;
}

.recipebox {
   display: flex;
   justify-content: center;
   overflow: scroll;
}
.reciperow {
   color: #332211;
   background-color: #eeeeee;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   box-shadow: 0 0 4px #ccc;
   height: 60px;
   white-space: nowrap;
}

.deletebtn {
   border-radius: 8px;
   border-color: transparent;
   font-size: 20px;
   padding: 5px;
   background-color: #fe9e0c;
   width: 100px;
   margin-top: 0 !important;
}
.viewbtn {
   background-color: #92b48c;
   color: #ffffff;
   border-radius: 8px;
   border-color: transparent;
   font-size: 20px;
   width: 100px;
   padding: 5px;
   margin-top: 0 !important;
}
.confirmdelbox{
    font-size: large;
    margin-top: 2%;
    text-align: center;

}

.confirmbtn{
   margin-right: 20px;
   float: center;
   width: 120px;
   height: fit-content;
   padding: 5px;
   background-color: #88b788;
   border-radius: 8px;
   border: none;
   cursor: pointer;
}

.cancelbtn{
    margin-right: 20px;
    float: center;
    width: 120px;
    height: fit-content;
    padding: 5px;
    background-color: #fe9e0c;
    border-radius: 8px;
    border: none;
    cursor: pointer;
 }
