.category-button{
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: fit-content;
    padding: 10px;
    background-color: beige;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
}
.category-button.include{
    background-color: #609966;
}
.category-button.exclude{
    background-color: #FE9E0D;
}