.user-recipe-box {
   display: flex;
   justify-content: center;
   overflow: scroll;
}

.user-recipe-table {
   border-spacing: 0 5px;
   border-collapse: separate;
   background-color: transparent;
   text-align: left;
   width: 100%;
}

.user-recipe-row {
   color: #332211;
   background-color: #eeeeee;
   border-radius: 10px;
   box-shadow: 0 0 4px #ccc;
   /* white-space: nowrap; */
}

.user-recipe-row td {
   padding: 5px 0 5px 10px;
}

thead tr th {
   padding-left: 8px;
}

.view-btn {
   background-color: #92b48c;
   border-radius: 10px;
   border-color: transparent;
   padding: 2px 5px;
   margin-right: 10px;
   margin-top: 0 !important;
}

.delete-btn {
   background-color: #fe9e0c;
   border-radius: 10px;
   border-color: transparent;
   padding: 2px 5px;
   margin-top: 0 !important;
}
