.page-button{
    background-color: #92B48C;
    color: #ffffff;
    border: 2px solid #92B48C;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
 }

 .page-button:hover {
    /* Set the background color on hover */
    background-color: transparent;
    color: #0f1b2b;
 }

 .extra-button{
   background-color: #fe9e0c;
    color: #0f1b2b;
    border: 2px solid #fe9e0c;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
 }

 .extra-button:hover{
   
 }