.dashboard {
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.recipelist-wrap {
   background: white;
   overflow-y: auto;
   height: inherit;
   /* IE and Edge */
   -ms-overflow-style: none;
   /* Firefox */
   scrollbar-width: none;
}

/* Only works for Chrome, Safari and Opera */
::-webkit-scrollbar {
   display: none;
}

.filter-search-wrapper {
   display: flex;
   align-items: center;
   /* Additional styles for the filter and search bar wrapper */
}

.searchbar-wrap {
   display: flex;
   align-items: center;
   border-bottom: 1px solid transparent;
   padding: 1rem;
   width: 100%; /* Adjust the height as needed */
}

/* 
.recipelist-wrap {
    display: center; 
    flex: 1; 
    padding-top: 200px;
    background: white;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*/

.pagination {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 1rem;
}

.pagination button {
   width: 40px;
   height: 40px;
   font-family: inherit;
   font-weight: 400;
   font-size: 16px;
   margin: 0 10px;
   border-radius: 6px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: transparent;
   color: #0F1B2B;
   border-color: #eee;
}

.pagination button.active {
   font-weight: 900;
   border-color: #d0b4b4;
   background: #ff9e0d;
   color: #101010;
}

.page-items{
   background-color: #92B48C;
    color: #ffffff;
    border: 2px solid #92B48C;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    height: fit-content;
}
.page-items:hover {
   /* Set the background color on hover */
   background-color: transparent;
   color: #0f1b2b;
}
.extra-items{
   background-color: transparent;
   color: #101010;
   border-radius: 10px;
   padding: 10px 20px;
   margin: 10px;
   font-size: 24px;
   cursor: pointer; 
   height: fit-content;
}
.extra-items:hover {
   /* Set the background color on hover */
   border: 2px solid #92B48C;
   color: #0f1b2b;
}

.break-items{
   background-color: transparent;
   color: #101010;
   border-radius: 10px;
   padding: 10px 20px;
   margin: 10px;
   font-size: 36px;
   cursor: pointer; 
}
.activePage{
   background-color: #ff9e0d;
    color: #0F1B2B;
    border: 2px solid #ff9e0d;
    cursor: pointer;
    height: fit-content;
}
