@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
	border-radius: 15px; /* Round the corners of the box */
}

.profile-tab-nav {
	min-width: 250px;
	max-width: 2500px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.containers{
	display: flex;
	flex-direction: column;
	align-items: center; 
}

  /* CSS for the input elements */
.form-control {
	width: 225px; /* Adjust this value to your desired width */
  }
  
/* Add a new CSS class for the password input container */
.password-input-container {
	display: flex;
  }

.pw-strengths {
	width: 220px; /* Adjust the width as a percentage */
  }

  
/* Change the color of the tab */
.nav-pills .nav-link.active {
	background-color: #91B48C;
	color: white;
  }
  
 
  /* Change the color of the buttons to green */
  .btn-primary {
	
	background-color: #91B48C;
	color: white;
	
	border: none; /* Remove the border */
  }
  
  .btn-primary:hover {
	background-color: #749768; /* Similar color to the primary button */
  }
  
  .btn-light {
	background-color: #FF9E0D;
	color: black;
  }
  
  .btn-light:hover {
	background-color: #e48f0f; /* Similar color to the light button */
  }
