@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif; /*may change font */
  height: 100vh;
  margin: -20px 0 50px;
}

.password-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 239px;
}


.password-toggle-button {
  position: absolute;
  right: 10px; /* Adjust the value as needed */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: #999;
}

.password-input {
  flex: 1;
  padding-right: 40px; /* Adjust the value as needed */
  height: 40px; /* Adjust the value as needed */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.forgot-password:hover {
  color: blue;
}

